$light-gray: #eceef1;
$idle: #f7f7fe;
$hover: #314b71;
$slate: darken(#eceef1, 70%);
$expanded: #7b7096;

* {
    box-sizing: border-box;
}

body {
    background: #f7f7fe;
    font-family: "Raleway", serif;
    color: $slate;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 15px;

    a {
        margin-left: 3px;
        text-decoration: none;
    }
}

.wrapper {
    margin: 5em auto;
    max-width: 1000px;
    border-radius: 6px;
    background-color: darken(#f7f7fe, 1%);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.09);
}

.header {
    padding: 50px 30px 30px 30px;
    text-align: center;

    &__title {
        margin: 0;
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 800;
        font-family: "Montserrat", serif;
        line-height: 1.1;
    }
}

//Grid Container
.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}


//Cards
.card {
    margin: 15px;
    margin-bottom: 25px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;

    //media queries for stacking cards
    @media screen and (max-width: 991px) {
        width: calc((100% / 2) - 30px);
    }

    @media screen and (max-width: 767px) {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
        .card__inner {
            transform: scale(1.05);

            .circle {
                background-color: $hover;
            }

            svg {
                color: #f7f7fe;
            }
        }
        .card__inner__text {
            background: $hover;
            color: #f7f7fe;
        }
    }

    &__inner {
        width: 100%;
        position: relative;
        cursor: pointer;
        
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;

        transition: all 0.2s ease-in-out;

        &:after {
            transition: all 0.3s ease-in-out;
        }

        &__text {
            border-radius: 6px;
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: $idle;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 0px 80px rgba(0, 0, 0, 0.1);
            color: #333a45;
        }

        &__iconcircle {
            margin-bottom: 10px;
            display: flex;
            height: 100%;
        }

        .circle {
            z-index: 100;
            position: absolute;
            height: 60px;
            width: 60px;
            background-color: #f7f7fe;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            margin-top: -29px;
        }

        svg {
            z-index: 200;
            position: absolute;
            font-size: 2.5em;
            color: lighten(#333a45, 30%);
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            margin-top: -18px;
        }
    }

    //Expander
    &__expander {
        transition: all 0.2s ease-in-out;
        background-color: $slate;
        width: 100%;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

        text-transform: uppercase;
        color: #f7f7fe;
        font-size: 1.5em;

        .button-container {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                border-radius: 6px;
                border:rgba(0, 0, 0, 0.05);
                height: 50px;
                width: 30%;
                background-color: #f7f7fe;
                font-family: 'Montserrat', serif;
                font-weight: bolder;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 12px;

                &:hover {
                    background-color: darken(#f7f7fe, 5%);
                }
            }   
        }

        .bookmark {
            margin: 15px;
            margin-bottom: 30px;
            width: calc((25%) - 30px);
            transition: all 0.2s ease-in-out;

            //media queries for stacking cards
            @media screen and (max-width: 800px) {
                width: calc((100% / 2) - 30px);
            }
        
            @media screen and (max-width: 550px) {
                width: 100%;
            }
        
            &__inner {
                border-radius: 6px;
                width: 100%;
                height: 130px;
                position: relative;
                cursor: pointer;

                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                
                background-color: $idle;
                color: #333a45;
                font-family: 'Montserrat', serif;
                text-transform: uppercase;
                text-align: center;
            }
        
            p {
                font-size: 12px;
            }

            .overlay {
                border-radius: 6px;
                position: absolute;
                display: block;
                width: 100%;
                bottom: 0;
                background-color: #f7f7fe;
                opacity: 0.9;
                z-index: 2;
                cursor: pointer;
            }
        }
    }

    &.is-collapsed {
        .card__inner {
            &:after {
                content: "";
                opacity: 0;
            }
        }
        .card__expander {
            max-height: 0;
            min-height: 0;
            overflow: hidden;
            margin-top: 0;
            opacity: 0;
        }
    }

    &.is-expanded {
        .card__inner {
            &:after {
                content: "";
                opacity: 1;
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                bottom: -30px;
                left: calc(50% - 15px);
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #333a45;
            }

            //folder open icon
            .fa:before {
                content: "\f115";
            }

            &__text {
                background: $hover;
                color: #f7f7fe;
            }

            .circle {
                background-color: $hover;
            }

            svg {
                color: #f7f7fe;
            }
        }

        .card__expander {
            max-height: 1000px;
            min-height: 200px;
            overflow: visible;
            margin-top: 30px;
            opacity: 1;
        }

        &:hover {
            .card__inner {
                transform: scale(1);
            }
        }
    }

    &.is-inactive {
        .card__inner {
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover {
            .card__inner {
                background-color: $idle;
                transform: scale(1);
            }
        }
    }
}

//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {
    .card:nth-of-type(3n + 2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(3n + 3) .card__expander {
        margin-left: calc(-200% - 60px);
    }
    .card:nth-of-type(3n + 4) {
        clear: left;
    }
    .card__expander {
        width: calc(300% + 60px);
    }
}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n + 2) .card__expander {
        margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(2n + 3) {
        clear: left;
    }
    .card__expander {
        width: calc(200% + 30px);
    }
}
